/* container */
.container {
	max-width: 1140px;
    width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	@include pad() {
		padding-left: 40px;
		padding-right: 40px;
	}
	@include iphone() {
		padding-left: 15px;
		padding-right: 15px;
	}
}
/* section */
.section {
    padding-top: 96px;
	padding-bottom: 160px;
	@include pad() {
		padding-top: 60px;
		padding-bottom: 96px;
	}
	@include iphone() {
		padding-top: 28px;
		padding-bottom: 56px;
	}
}
/* header */
.header {
	background-color: $color-primary;
	&-nav {
		height: 108px;
		justify-content: space-between;
		align-items: center;
		padding: 0 56px 0 88px;
		&__link {
			color: $color-white;
			margin: 0 22px;
			padding: 0 10px;
			font-size: 20px;
			line-height: 108px;
			position: relative;
			@media(min-width: 1024px) {
				&:before {
					content: '';
					display: block;
					position: absolute;
					bottom: 30px;
					left: 0;
					width: 0%;
					height: 3px;
					background-color: $color-white;
					transition: all .2s;
				}
				&:hover {
					&:before {
						width: 100%;
					}
				}
			}
		}
		@include pad() {
			padding: 0 20px 0 40px;
			&__link {
				margin: 0;
				padding: 0 20px;
			}
		}
	}
	@include mobile-767() {
		&-nav {
			height: auto;
    		flex-direction: column;
   			padding: 0;
			&__logo {
				width: 100%;
				text-align: center;
				a {
					display: block;
					padding: 10px 0;
				}
				img {
					width: 48px;
				}
			}
			&__menu {
				width: 100%;
				text-align: center;
				li {
					width: 50%;
					border-top: 1px solid #fff;
					border-right: 1px solid #fff;
					&:nth-child(even) {
						border-right: none;
					}
				}
			}
			&__link {
				display: block;
				padding: 0;
				line-height: 45px;
			}
		}
	}
}

/* footer */
.footer {
	background-color: $color-primary;
	color: $color-white;
	padding-top: $spacing-9;
    padding-bottom: $spacing-9;
	@include mobile-767() {
		padding-top: $spacing-6;
		padding-bottom: $spacing-6;
	}
	&-nav {
		&__link {
			padding: 16px 24px;
		}
		li:first-child a{
			padding-left: 0;
		}
		@include mobile() {
			&__link {
				padding: 4px 20px;
		 	}
		}
		@include mobile-767() {
			display: none;
		}
	}
	&-contact {
		margin: 24px 0;
        li {
            margin-bottom: $spacing-4;
            &:last-child {
				margin-bottom: 0;
			}
        }
		&__link {
			font-size: 36px;
			line-height: 48px;
			align-items: center;
		}
		.icon {
			display: inline-block;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width: 36px;
			height: 36px;
			margin-right: 22px;
			&-phone {
				background-image: url("../images/icon-phone.svg");
			}
			&-mail {
				background-image: url("../images/icon-mail.svg");
			}
		}
		@include mobile() {
			margin: 20px 0;
			li {
				margin-bottom: 12px;
			}
			&__link {
				@include font-size(20px);
			}
			.icon {
				width: 24px;
				height: 24px;
				margin-right: 8px;
			}
		}
		@include mobile-767() {
			margin-top: 0;
			li {
				margin-bottom: 6px;
			}
			&__link {
				font-size: 16px;
				line-height: 20px;
			}
			.icon {
				width: 16px;
				height: 16px;
			}
		}
	}
	&-social {
		display: flex;
		li {
			margin-right: 32px;
			&:last-child {
				margin-right: 0;
		 	}
		}
		&__link {
			transition: all .3s;
			&:hover {
				opacity: .8;
			}
		}
		@include mobile() {
			li {
				margin-right: 24px;
			}
			&__link {
				width: 24px;
				height: 24px;
			}
		}
	}
	&-copyright {
		border-top: 1px solid $color-white;
		padding-top: $spacing-9;
		&__link {
			@include font-size(14px);
			margin-right: 48px;
			&:last-child {
				margin-right: 0;
			}
		}
		@include mobile() {
			padding-top: 24px;
			&__link {
				margin-right: 24px;
			}
		}
		@include mobile-767() {
			display: block;
			padding-top: 16px;
			&__p {
				@include font-size(14px);
				margin-bottom: 8px;
			}
			&__link {
				display: block;
				margin-right: 0;
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}