.blog {
	&__title {
		color: $color-black;
		padding-left: $spacing-4;
		border-left: 8px solid #9f1213;
		margin-bottom: 60px;
	}

	@include pad() {
		&__title {
			border-left: 4px solid #9f1213;
			margin-bottom: $spacing-9;
		}

	}
	@include iphone() {
		&__title {
			font-size: 28px;
			padding-left: $spacing-2;
			margin-bottom: $spacing-6;
		}
		
	}
}