/* grid */
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.col-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}

.col-1 {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

.col-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}

.col-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.col-5 {
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

.col-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-7 {
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

.col-8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.col-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.col-10 {
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}

.col-11 {
	-ms-flex: 0 0 91.666667%;
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}

.col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
@media (min-width: 576px) {
	.col-sm {
	  -ms-flex-preferred-size: 0;
	  flex-basis: 0;
	  -ms-flex-positive: 1;
	  flex-grow: 1;
	  max-width: 100%;
	}
	.col-sm-auto {
	  -ms-flex: 0 0 auto;
	  flex: 0 0 auto;
	  width: auto;
	  max-width: 100%;
	}
	.col-sm-1 {
	  -ms-flex: 0 0 8.333333%;
	  flex: 0 0 8.333333%;
	  max-width: 8.333333%;
	}
	.col-sm-2 {
	  -ms-flex: 0 0 16.666667%;
	  flex: 0 0 16.666667%;
	  max-width: 16.666667%;
	}
	.col-sm-3 {
	  -ms-flex: 0 0 25%;
	  flex: 0 0 25%;
	  max-width: 25%;
	}
	.col-sm-4 {
	  -ms-flex: 0 0 33.333333%;
	  flex: 0 0 33.333333%;
	  max-width: 33.333333%;
	}
	.col-sm-5 {
	  -ms-flex: 0 0 41.666667%;
	  flex: 0 0 41.666667%;
	  max-width: 41.666667%;
	}
	.col-sm-6 {
	  -ms-flex: 0 0 50%;
	  flex: 0 0 50%;
	  max-width: 50%;
	}
	.col-sm-7 {
	  -ms-flex: 0 0 58.333333%;
	  flex: 0 0 58.333333%;
	  max-width: 58.333333%;
	}
	.col-sm-8 {
	  -ms-flex: 0 0 66.666667%;
	  flex: 0 0 66.666667%;
	  max-width: 66.666667%;
	}
	.col-sm-9 {
	  -ms-flex: 0 0 75%;
	  flex: 0 0 75%;
	  max-width: 75%;
	}
	.col-sm-10 {
	  -ms-flex: 0 0 83.333333%;
	  flex: 0 0 83.333333%;
	  max-width: 83.333333%;
	}
	.col-sm-11 {
	  -ms-flex: 0 0 91.666667%;
	  flex: 0 0 91.666667%;
	  max-width: 91.666667%;
	}
	.col-sm-12 {
	  -ms-flex: 0 0 100%;
	  flex: 0 0 100%;
	  max-width: 100%;
	}
}
  
@media (min-width: 768px) {
	.col-md {
	  -ms-flex-preferred-size: 0;
	  flex-basis: 0;
	  -ms-flex-positive: 1;
	  flex-grow: 1;
	  max-width: 100%;
	}
	.col-md-auto {
	  -ms-flex: 0 0 auto;
	  flex: 0 0 auto;
	  width: auto;
	  max-width: 100%;
	}
	.col-md-1 {
	  -ms-flex: 0 0 8.333333%;
	  flex: 0 0 8.333333%;
	  max-width: 8.333333%;
	}
	.col-md-2 {
	  -ms-flex: 0 0 16.666667%;
	  flex: 0 0 16.666667%;
	  max-width: 16.666667%;
	}
	.col-md-3 {
	  -ms-flex: 0 0 25%;
	  flex: 0 0 25%;
	  max-width: 25%;
	}
	.col-md-4 {
	  -ms-flex: 0 0 33.333333%;
	  flex: 0 0 33.333333%;
	  max-width: 33.333333%;
	}
	.col-md-5 {
	  -ms-flex: 0 0 41.666667%;
	  flex: 0 0 41.666667%;
	  max-width: 41.666667%;
	}
	.col-md-6 {
	  -ms-flex: 0 0 50%;
	  flex: 0 0 50%;
	  max-width: 50%;
	}
	.col-md-7 {
	  -ms-flex: 0 0 58.333333%;
	  flex: 0 0 58.333333%;
	  max-width: 58.333333%;
	}
	.col-md-8 {
	  -ms-flex: 0 0 66.666667%;
	  flex: 0 0 66.666667%;
	  max-width: 66.666667%;
	}
	.col-md-9 {
	  -ms-flex: 0 0 75%;
	  flex: 0 0 75%;
	  max-width: 75%;
	}
	.col-md-10 {
	  -ms-flex: 0 0 83.333333%;
	  flex: 0 0 83.333333%;
	  max-width: 83.333333%;
	}
	.col-md-11 {
	  -ms-flex: 0 0 91.666667%;
	  flex: 0 0 91.666667%;
	  max-width: 91.666667%;
	}
	.col-md-12 {
	  -ms-flex: 0 0 100%;
	  flex: 0 0 100%;
	  max-width: 100%;
	}
}
  
@media (min-width: 992px) {
	.col-lg {
	  -ms-flex-preferred-size: 0;
	  flex-basis: 0;
	  -ms-flex-positive: 1;
	  flex-grow: 1;
	  max-width: 100%;
	}
	.col-lg-auto {
	  -ms-flex: 0 0 auto;
	  flex: 0 0 auto;
	  width: auto;
	  max-width: 100%;
	}
	.col-lg-1 {
	  -ms-flex: 0 0 8.333333%;
	  flex: 0 0 8.333333%;
	  max-width: 8.333333%;
	}
	.col-lg-2 {
	  -ms-flex: 0 0 16.666667%;
	  flex: 0 0 16.666667%;
	  max-width: 16.666667%;
	}
	.col-lg-3 {
	  -ms-flex: 0 0 25%;
	  flex: 0 0 25%;
	  max-width: 25%;
	}
	.col-lg-4 {
	  -ms-flex: 0 0 33.333333%;
	  flex: 0 0 33.333333%;
	  max-width: 33.333333%;
	}
	.col-lg-5 {
	  -ms-flex: 0 0 41.666667%;
	  flex: 0 0 41.666667%;
	  max-width: 41.666667%;
	}
	.col-lg-6 {
	  -ms-flex: 0 0 50%;
	  flex: 0 0 50%;
	  max-width: 50%;
	}
	.col-lg-7 {
	  -ms-flex: 0 0 58.333333%;
	  flex: 0 0 58.333333%;
	  max-width: 58.333333%;
	}
	.col-lg-8 {
	  -ms-flex: 0 0 66.666667%;
	  flex: 0 0 66.666667%;
	  max-width: 66.666667%;
	}
	.col-lg-9 {
	  -ms-flex: 0 0 75%;
	  flex: 0 0 75%;
	  max-width: 75%;
	}
	.col-lg-10 {
	  -ms-flex: 0 0 83.333333%;
	  flex: 0 0 83.333333%;
	  max-width: 83.333333%;
	}
	.col-lg-11 {
	  -ms-flex: 0 0 91.666667%;
	  flex: 0 0 91.666667%;
	  max-width: 91.666667%;
	}
	.col-lg-12 {
	  -ms-flex: 0 0 100%;
	  flex: 0 0 100%;
	  max-width: 100%;
	}
}
  
@media (min-width: 1200px) {
	.col-xl {
	  -ms-flex-preferred-size: 0;
	  flex-basis: 0;
	  -ms-flex-positive: 1;
	  flex-grow: 1;
	  max-width: 100%;
	}
	.col-xl-auto {
	  -ms-flex: 0 0 auto;
	  flex: 0 0 auto;
	  width: auto;
	  max-width: 100%;
	}
	.col-xl-1 {
	  -ms-flex: 0 0 8.333333%;
	  flex: 0 0 8.333333%;
	  max-width: 8.333333%;
	}
	.col-xl-2 {
	  -ms-flex: 0 0 16.666667%;
	  flex: 0 0 16.666667%;
	  max-width: 16.666667%;
	}
	.col-xl-3 {
	  -ms-flex: 0 0 25%;
	  flex: 0 0 25%;
	  max-width: 25%;
	}
	.col-xl-4 {
	  -ms-flex: 0 0 33.333333%;
	  flex: 0 0 33.333333%;
	  max-width: 33.333333%;
	}
	.col-xl-5 {
	  -ms-flex: 0 0 41.666667%;
	  flex: 0 0 41.666667%;
	  max-width: 41.666667%;
	}
	.col-xl-6 {
	  -ms-flex: 0 0 50%;
	  flex: 0 0 50%;
	  max-width: 50%;
	}
	.col-xl-7 {
	  -ms-flex: 0 0 58.333333%;
	  flex: 0 0 58.333333%;
	  max-width: 58.333333%;
	}
	.col-xl-8 {
	  -ms-flex: 0 0 66.666667%;
	  flex: 0 0 66.666667%;
	  max-width: 66.666667%;
	}
	.col-xl-9 {
	  -ms-flex: 0 0 75%;
	  flex: 0 0 75%;
	  max-width: 75%;
	}
	.col-xl-10 {
	  -ms-flex: 0 0 83.333333%;
	  flex: 0 0 83.333333%;
	  max-width: 83.333333%;
	}
	.col-xl-11 {
	  -ms-flex: 0 0 91.666667%;
	  flex: 0 0 91.666667%;
	  max-width: 91.666667%;
	}
	.col-xl-12 {
	  -ms-flex: 0 0 100%;
	  flex: 0 0 100%;
	  max-width: 100%;
	}
}

.container {
	max-width: 1140px;
    width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	@media(max-width: 768px) {
		padding-left: 40px;
		padding-right: 40px;
	}
	@media(max-width: 575px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.section {
    padding-top: 60px;
    padding-bottom: 80px;
	@media(max-width: 768px) {
		padding-top: 40px;
    	padding-bottom: 56px;
	}
	@media(max-width: 575px) {
		padding-top: 32px;
    	padding-bottom: 40px;
	}
}
/* header */
.header {
	background-color: $color-primary;
	&-nav {
		height: 108px;
		justify-content: space-between;
		align-items: center;
		padding: 0 56px 0 88px;
		&__link {
			color: $color-white;
			margin: 0 22px;
			padding: 0 10px;
			font-size: 20px;
			line-height: 108px;
			position: relative;
			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: 30px;
				left: 0;
				width: 0%;
				height: 3px;
				background-color: $color-white;
				transition: all .2s;
			}
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}

/* footer */
.footer {
	background-color: $color-primary;
	color: $color-white;
	padding-top: $spacing-lv9;
    padding-bottom: $spacing-lv9;
	@media(max-width: 767px) {
		padding-top: $spacing-lv6;
		padding-bottom: $spacing-lv6;
	}
	&-nav {
		&__link {
			padding: 16px 24px;
		}
		li:first-child a{
			padding-left: 0;
		}
		@media(max-width: 768px) {
			&__link {
				padding: 4px 20px;
		 	}
		}
		@media(max-width: 767px) {
			display: none;
		}
	}
	&-contact {
		margin: 24px 0;
        li {
            margin-bottom: $spacing-lv4;
            &:last-child {
				margin-bottom: 0;
			}
        }
		&__link {
			font-size: 36px;
			line-height: 48px;
			align-items: center;
		}
		.icon {
			display: inline-block;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width: 36px;
			height: 36px;
			margin-right: 22px;
			&-phone {
				background-image: url("../images/icon-phone.svg");
			}
			&-mail {
				background-image: url("../images/icon-mail.svg");
			}
		}
		@media(max-width: 768px) {
			margin: 20px 0;
			li {
				margin-bottom: 12px;
			}
			&__link {
				font-size: 20px;
				line-height: 30px;
			}
			.icon {
				width: 24px;
				height: 24px;
				margin-right: 8px;
			}
		  }
		  @media(max-width: 767px) {
			margin-top: 0;
			li {
				margin-bottom: 6px;
			}
			&__link {
				font-size: 16px;
				line-height: 20px;
			}
			.icon {
				width: 16px;
				height: 16px;
			}
		}
	}
	&-social {
		display: flex;
		li {
			margin-right: 32px;
			&:last-child {
				margin-right: 0;
		 	}
		}
		&__link {
			transition: all .3s;
			&:hover {
				opacity: .8;
			}
		}
		@media(max-width: 768px) {
			min-height: 24px;
			li {
				margin-right: 24px;
			}
			&__link {
				width: 24px;
				height: 24px;
			}
		}
	}
	&-copyright {
		border-top: 1px solid $color-white;
		padding-top: $spacing-lv9;
		&__link {
			font-size: 14px;
			line-height: 21px;
			margin-right: 48px;
			&:last-child {
				margin-right: 0;
			}
		}
		@media(max-width: 768px) {
			padding-top: 24px;
			&__link {
				margin-right: 24px;
			}
		}
		@media(max-width: 767px) {
			display: block;
			padding-top: 16px;
			&__p {
				font-size: 14px;
				line-height: 21px;
				margin-bottom: 8px;
			}
			&__link {
				display: block;
				margin-right: 0;
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}