/* btn */
.btn{
	display: inline-block;
	height: 36px;
	font-size: 16px;
	line-height: 24px;
	padding: 0 16px;
	min-width: 64px;
	text-align: center;
	font-weight: 400;
	letter-spacing: 0;
	text-decoration: none;
	background-color: #000000;
	color: $color-white;
	border: 0;
	outline: 0;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	user-drag: none;
	transition: all 0.3s;
}
.btn.btn--primary{
	background-color: $color-primary;
}
.btn.btn--primary:hover,
.btn.btn--primary:active{
	background-color: #dd6488;
}
.btn.btn--secondary{
	background-color: $color-black;
}
.btn.btn--secondary:hover,
.btn.btn--secondary:active{
	background-color: #555555;
}
.btn.btn--lg{
	height: 56px;
	font-weight: 400;
	padding: 0 64px;
}
.white-link-wrap {
	a {
		color: #fff;
		transition: all .3s;
		&:hover {
			opacity: .8;
		}
	}
}