/* Color */
$color-primary: #AA0601;
$color-dark-red: #650300;
$color-pink: #FBF2F2;
$color-black: #000000;
$color-dark-grey: #212529;
$color-grey-1: #555555;
$color-grey-2: #707070;
$color-white: #ffffff;
/* spacing */
$spacing-lv1: 4px;
$spacing-lv2: 8px;
$spacing-lv3: 12px;
$spacing-lv4: 16px;
$spacing-lv5: 20px;
$spacing-lv6: 24px;
$spacing-lv7: 28px;
$spacing-lv8: 32px;
$spacing-lv9: 40px;
$spacing-lv10: 52px;
$spacing-lv11: 64px;
$spacing-lv12: 80px;